<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% if page.title == 'Salty Bits' %}
            {{ page.title }}
          {% else %}
            {{ page.title }} - Salty Bits
          {% endif %}
        </title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <strong>SALTY</strong>BITS<br />
                Life as a software developer<br />
                in the middle of the ocean.<br />
              </p>

              <p>
                Ryan Mohr is the cofounder<br />
                and lead developer at <a href="https://www.kumu.io">kumu.io</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/rymohr">github.com/rymohr</a><br />
                <a href="https://github.com/rymohr">twitter.com/rymohr</a><br /><br />

                <a href="https://github.com/saltybits">github.com/saltybits</a><br />
                <a href="https://twitter.com/thesaltybits">twitter.com/thesaltybits</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
